.m-t-1 {
  margin-top: 1rem;
}
.m-t-2 {
  margin-top: 2rem;
}
.m-t-5 {
  margin-top: 5rem;
}
.m-t-10 {
  margin-top: 10rem;
}
.m-t--1 {
  margin-top: -1rem;
}
.m-t--2 {
  margin-top: -2rem;
}
.m-t--5 {
  margin-top: -5rem;
}
.m-t--10 {
  margin-top: -10rem;
}
